* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

ul,
li {
}

.container {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 800) {
    width: 100%;
  }
}
